.toolbar ul {
	display:table-row;
}
.toolbar ul li
{
	display: table-cell;
	padding: 10px;
	vertical-align: middle;
}
.toolbar ul li a {
	display:table-cell;
	vertical-align: middle;
}

.header h1 {
	padding-left: 10px;
}