.toolbar ul {
	display:table-row;
}
.toolbar ul li
{
	display: table-cell;	
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;

	vertical-align: middle;
}
.toolbar ul li a {
	display:table-cell;
	vertical-align: middle;
	color: #333;
	text-decoration: none;
}

.toolbar ul li a:hover {
	display:table-cell;
	vertical-align: middle;
	color: #337ab7;
	text-decoration: none;
}
.header ul li h1 {
	padding-bottom: 10px;
	padding-left: 10px;
}

/**
	Global Navigation
**/	
a.mailNav {	
	color: #e33333 !important;
	font-weight: bold;
	font-size: 16px;
}

a.driveNav {	
	color: #333 !important;
	font-weight: bold;
	font-size: 16px;
}

a.tasksNav {	
	color: #FDD047 !important;
	font-weight: bold;
	font-size: 16px;
}

a.contactsNav {	
	color: #2a56c6 !important;
	font-weight: bold;
	font-size: 16px;
}

/**
	Mail Navigation
**/	
a.inboxNav {	
	color: #333 !important;
	font-weight: bold;
	font-size: 14px;
}

a.updatesNav {	
	color: #FFA500 !important;
	font-weight: bold;
	font-size: 14px;
}

a.socialNav {	
	color: #4986e7 !important;
	font-weight: bold;
	font-size: 14px;
}

a.promoNav {	
	color: #A6D785 !important;
	font-weight: bold;
	font-size: 14px;
}

a.forumNav {	
	color: #a479e2 !important;
	font-weight: bold;
	font-size: 14px;
}

a.trashNav {	
	color: #e33333 !important;
	font-weight: bold;
	font-size: 14px;
}


/**
	Drive Navigation (ToDo)
**/	


/**
	Tasks Navigation (ToDo)
**/	


/**
	Contacts Navigation (ToDo)
**/	
