mail-inboxNav.toolbar ul {
	display:table-row;
}
.toolbar ul li
{
	display: table-cell;	
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;

	vertical-align: middle;
}
.toolbar ul li a {
	display:table-cell;
	vertical-align: middle;
	color: #333;
	text-decoration: none;
}

.toolbar ul li a:hover {
	display:table-cell;
	vertical-align: middle;
	color: #337ab7;
	text-decoration: none;
}
.header ul li h1 {
	padding-bottom: 10px;
	padding-left: 10px;
}

/**
	Global Navigation
**/	
a.mailNav {	
	color: #e33333 !important;
	font-weight: bold;
	font-size: 16px;
}

a.driveNav {	
	color: #333 !important;
	font-weight: bold;
	font-size: 16px;
}

a.tasksNav {	
	color: #FDD047 !important;
	font-weight: bold;
	font-size: 16px;
}

a.contactsNav {	
	color: #2a56c6 !important;
	font-weight: bold;
	font-size: 16px;
}

a.settingsNav {	
	color: #333 !important;
	font-weight: bold;
	font-size: 16px;
}

/**
	Mail Navigation
**/	
a.mail-inboxNav {	
	color: #333 !important;
	font-weight: bold;
	font-size: 14px;
}

a.mail-updatesNav {	
	color: #FFA500 !important;
	font-weight: bold;
	font-size: 14px;
}

a.mail-socialNav {	
	color: #4986e7 !important;
	font-weight: bold;
	font-size: 14px;
}

a.mail-promoNav {	
	color: #A6D785 !important;
	font-weight: bold;
	font-size: 14px;
}

a.mail-forumNav {	
	color: #a479e2 !important;
	font-weight: bold;
	font-size: 14px;
}

a.mail-sentNav {	
	color: #007F0E !important;
	font-weight: bold;
	font-size: 14px;
}

a.mail-trashNav {	
	color: #e33333 !important;
	font-weight: bold;
	font-size: 14px;
}

/**
	Drive Navigation (ToDo)
**/	
a.drive-myDriveNav {	
	color: #333 !important;
	font-weight: bold;
	font-size: 14px;
}

a.drive-trashNav {	
	color: #e33333 !important;
	font-weight: bold;
	font-size: 14px;
}

/**
	Tasks Navigation (ToDo)
**/	
a.tasks-myTasksNav {	
	color: #FDD047 !important;
	font-weight: bold;
	font-size: 14px;
}

a.tasks-trashNav {	
	color: #e33333 !important;
	font-weight: bold;
	font-size: 14px;
}

/**
	Contacts Navigation (ToDo)
**/	
a.contacts-myContactsNav {	
	color: #2a56c6 !important;
	font-weight: bold;
	font-size: 14px;
}

a.contacts-trashNav {	
	color: #e33333 !important;
	font-weight: bold;
	font-size: 14px;
}


/** 
	Current Page 
**/
li.current a, a.CurrentPage
{
	background: none;
	padding: 8px;
/*	box-shadow: inset 0 0 5px rgba(0,0,0, 0.4), rgba(255,255,255,0.1) 0 1px 0; */
	border-radius: 4px;
	border: 2px solid #e6efff;
	color: #fff;

}